#mobile_wrap {background-color:#3575FF;}
#mobile_wrap .photo {}
#mobile_wrap .photo img {}
#mobile_wrap h1 {}
#mobile_wrap h1 span {color: yellow;}
#mobile_wrap h2 {color: white;}
#mobile_wrap .git {}
#mobile_wrap .skill {}
#mobile_wrap .skill li {color: white;}